extends ./layout/common

block cdn-bootstrap
    h1 Simple CRUD functionality using ExpressJS, MongoDB, Boostrap4
    img(src="/images/teamFreeHuflit.jpg", alt="not found", class="ml-2", width="400px", height="300px")