extends ./layout/common

block cdn-bootstrap
    h1(class="ml-2") Hello #{name}
    a(href="/users", class="ml-2") User List
    br
    img(src="/images/teamFreeHuflit.jpg", alt="not found", class="ml-2")