extends ../layout/common

block cdn-bootstrap

    h1 Change Password

    form(action="/users/changePassword" method="POST")
        .form-group
            label(for="password") Password Your Change
            input#password.form-control(name="password" type="password", value= values ? values.password : "")

        button.btn.btn-primary Save