extends ../layout/common

block cdn-bootstrap
    h1 
        span Team FreeLancer Huflit K22
        a.btn.btn-primary(href="/users/create", class="ml-2") New

    .d-flex.align-items-center
        form.ml-auto(action="/users/search", method="GET", class="d-flex")
            input(type="text", name="q", class="form-control")
            button(class="btn btn-primary ml-2") Search

    table.table.table-hover
        tr.thead-dark
            th.align-middle Name
            th.align-middle Phone
            th.align-middle Age
            th Action
        each person in FreeLaHuflit
            tr
                td.align-middle= person.name
                td.align-middle= person.phone
                td.align-middle= person.age
                td 
                    form(action="" method="POST")
                        .form-group
                            a.btn.btn-light.m-1(href="/users/" + person.id) View
                            a.btn.btn-light.m-1(href="#") Edit
                            a.btn.btn-light.m-1(href="#") Delete
    include navigation.pug