extends ../layout/common

block cdn-bootstrap
    h1 View User

    p
        b Name 
        span= FreeLaHuflit.name
        br
        b Phone 
        span= FreeLaHuflit.phone
        br
        b Age 
        span= FreeLaHuflit.age