html
    head
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css', 
        integrity='sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh', crossorigin='anonymous')
        link(rel="stylesheet", href="/style/custom.css")
        script(href="/public/javascript/navigation.js")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='/') FreelHuflit
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNav.collapse.navbar-collapse
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/users') Users
                    li.nav-item.position-relative
                        a.nav-link.dropdown(href="/products") Products
                            //- button.btn.dropdown-toggle(type="button", id="dropdownMenuButton", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Products
                            //- .dropdown-menu(aria-labelledby="dropdownMenuButton")
                            //-     each i in productDetail
                            //-         a.dropdown-item= ${i.index , i.value}
                            a.position-absolute(style="bottom: -5px; right: 0; color: gray")= countCart

            if !user
                .btn-group
                    a.btn.btn-primary(href="/auth/login", role="button") login
                    a.btn.btn-primary(href="/auth/register",role="button") Sign up
            if user
                .d-flex.align-items-center
                    a.mr-2(href="/users/info/changePassword")= user.username
                    a.btn.btn-primary(href="/auth/logout", role="button") Log out
            
      
        .container.pt-5
            block cdn-bootstrap